<div class="body">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h1>Welcome to 
					<p class="glyphicon glyphicon-book">
						<strong>Bookers</strong>  !!
					</p>
					
				</h1>
				<p>In <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>,</p>
				<p>you can share and exchange your opinions , inpressions , and emotions</p>
				<p>about varioius books!</p>
				</p>
				<div class="row">
					<a class="log-in col-xs-offset-1 col-xs-10 btn btn-info" href="/users/sign_in">Log in</a>
				</div>
				<div class="row">
					<a class="sign-up col-xs-offset-1 col-xs-10 btn btn-success" href="/users/sign_up">Sign up</a>
				</div>
			</div>
		</div>
	</div>
</div>



